# Binaries
/lightshell
*.app
dist/

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
*.o
*.a
*.so
*.dylib

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temp
*.tmp
*.log

# Claude
claude.md
CLAUDE.md
private.pem
public.pem
