{
  "name": "@lightshell/{{OS}}-{{ARCH}}",
  "version": "0.1.0",
  "description": "LightShell binary for {{OS}}-{{ARCH}}",
  "license": "MIT",
  "repository": {
    "type": "git",
    "url": "https://github.com/meherpanguluri/lightshell"
  },
  "os": ["{{OS}}"],
  "cpu": ["{{ARCH}}"],
  "files": ["lightshell"]
}
